body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.nav1 {
  position: fixed;
  top: 0%;
  width: 100%;
  overflow: hidden;
  background-color: #333;
}


.nav1 a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav1 a:hover {
  background-color: #ddd;
  color: black;
}

.nav1 a.active {
  background-color: #04AA6D;
  color: white;
}

.nav2 {
  position: fixed;
  top: 7%;
  width: 100%;
  overflow: hidden;
  background-color: rgb(190, 94, 94);
}


.nav2 a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav2 a:hover {
  background-color: #ddd;
  color: black;
}

.nav2 a.active {
  background-color: #04AA6D;
  color: white;
}

h1 {
  padding: 20px;
    color: rgb(242, 242, 247);
    text-align: center;
    margin: 0px;
  }
  

.debowale {
  font-size: 25px;
  font-weight: 100;
  font-style: italic;
  color: var(--main-red);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(107, 95, 95);
  background-image: linear-gradient(62deg, #3d4955 0%, #141216 100%)
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

.header {
  height: 20vh;
  background-color: rgb(38, 60, 88);
  text-align: center;
  padding: 32px;
}

h2 { padding: 20px;
  margin: 0px;
  text-align: center;
  color: rgb(223, 236, 236);
}

img {
  width: 300px;
  height: 400px;
  object-fit: cover
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.column img {
  margin-top: 12px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.message {
  font-size: 25px;
  font-weight: 100;
  font-style: italic;
  color:rgb(223, 236, 236);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  background-color: rgb(172, 160, 160);
  background-image: linear-gradient(62deg, #3d4955 0%, #141216 100%)
}


.footer {
  font-size: 25px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(238, 227, 227);
  color: rgb(160, 23, 23);
  text-align: center;
}
